alembic==0.8.6
ciscosparkapi==0.7.1
cycler==0.10.0
Flask==0.10.1
Flask-SQLAlchemy==2.1
future==0.16.0
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.7.3
Mako==1.0.4
MarkupSafe==0.23
numpy==1.11.2
plotly==1.12.9
psycopg2==2.6.2
pyparsing==2.1.10
python-dateutil==2.6.0
python-editor==1.0.1
pytz==2016.7
requests==2.11.1
requests-cache==0.4.12
requests-toolbelt==0.7.0
six==1.10.0
SQLAlchemy==1.1.2
Werkzeug==0.11.11
xmltodict==0.10.2